body{
    background: #f2f2f2;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.barra-lateral{
    background: #262a34;
    color: #fafafa;
    min-width: 280px;
    min-height: 100vh;
    padding: 0;
}

.barra-lateral a{
    color: #Fff;
}

/*** LOGO ***/
.barra-lateral .logo{
    background: #367fa9;
    margin-bottom: 2px;
}

.barra-lateral .logo h2{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    padding: 16px 0;
    text-align: center;
    font-weight: 300;
    margin: 0;
}

/*** MENU ***/
.barra-lateral .menu a{
    display: block;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.barra-lateral .menu a:hover{
    background: #35ae6b;
    text-decoration: none;
    padding-left: 55px;
    transition-duration: 1s;
    transition-delay: 0s;
}

.barra-lateral .menu a i{
    margin-right: 20px;
    font-weight: normal;
}